// Colors
$blue-100: #e6eff5;
$blue-200: #b1cbdf;
$blue-300: #6496af;
$blue-400: #035c95;
$blue-500: #043b6c;
$blue-600: #03244c;
$light-red: #f7535f;

// Gap sizes
$small-size: 8px;
$medium-size: 16px;
$big-size: 32px;

// Layout
$main-layout-width: 900px;