// Colors
$black: #000;
$grey: #3c3d3f;
$light-grey: #f5f5f5;
$light-red: #f7535f;
$white: #fff;

// Gap sizes
$small-size: 8px;
$medium-size: 16px;
$big-size: 32px;

// Layout
$main-layout-width: 900px;