@import './styles/variables';
@import './styles/pages/ExchangePage';

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 24px;
  max-width: 700px;
}

body {
  font-family: 'Roboto', sans-serif;
}

